.container {
	align-items: center;
	margin: 2em 1em;
	min-height: 6in;
	justify-content: center;
}

.albums {
	margin: 2% 1%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}

.hoverable:hover {
	transform: translateY(-5px);
}

.album-container {
	height: 25em;
	text-align: center;
	width: 100%;
	& a img {
		max-height: 300px;
		max-width: 350px;
	}
}

#div-busqueda {
	display: flex;
	justify-content: center;
	margin: 4rem auto;
	width: 50%;
}

#busqueda {
	border-radius: 15px;
	font-size: xx-large;
	margin: 0 auto;
	text-align: center;
}
